.sideBar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;

  .items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .switches {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .toggleButton {
    position: absolute;
    right: -40px;
    bottom: 10px;
  }

  &.open {
    width: var(--sidebar-width-open);
    .switches {
      flex-direction: row;
      .lang {
        margin-left: 20px;
      }
    }
  }
}
