.codeWrapper {
  position: relative;

  border: 1px solid var(--primary-color);
  padding: 20px;
  background-color: var(--code-bg);

  overflow-y: auto;

  .copyButton {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .code {
  }
}
