.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;

  --primary-color: #052481;
  --inverted-primary-color: #049604;

  --secondary-color: #044ff2;
  --inverted-secondary-color: #04ff04;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #d5d5d7;
}
