.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;

  --primary-color: #041c65;
  --inverted-primary-color: #049604;

  --secondary-color: #044ff2;
  --inverted-secondary-color: #04ff04;
}
