.wrapper {
  display: flex;
  color: var(--inverted-bg-color);

  .label {
    margin-right: 15px;
  }

  .select {
    background: none;
    outline: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

    .option {
      color: var(--inverted-primary-color);
      background-color: var(--inverted-bg-color);
    }
  }
}
