.profilePageHeader {
  margin-bottom: 20px;
  .header {
    display: flex;
    justify-content: center;

    .buttonWrapper {
      margin-left: auto;

      .editButton {
        margin-right: 10px;
      }
      .saveButton {
      }
    }
  }
}
